
@{
     IActionResult OnGet()
    {
  
            return new RedirectToPageResult("/Portal/Login");


    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Api</title>
</head>
<body>
</body>
</html>
